<!DOCTYPE html>
<html lang="en">

<head>
    
    <link rel="stylesheet" href="C:\Users\Dell\Desktop\Projects\Question-Mark\Question_Mark\static\style.css">
</head>

<body>
    <!-- header of page -->
    <header>

    </header>

    <!-- main area of page -->
    <div class="container">
        <div class="left-container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut consequuntur assumenda reiciendis laboriosam
                at suscipit, dignissimos accusamus cupiditate facilis repellat doloribus tempore harum totam illo,
                voluptate repudiandae! Totam, voluptatibus aut.</p>
        </div>

        <div class="right-container">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="login()">
                        Log In
                    </button>
                    <button type="button" class="toggle-btn" onclick="register()">
                        Register
                    </button>
                </div>
                <form id="login" class="input-group">
                    <input type="text" class="input-feild" placeholder="User Id" required>
                    <input type="text" class="input-feild" placeholder="Enter Password" required>
                    <input type="checkbox" class="check-box"><span>Remember Password</span>
                    <button type="submit" class="submit-btn">Log In</button>
                </form>
                <form id="register" class="input-group">
                    <input type="text" class="input-feild" placeholder="User Id" required>
                    <input type="email" class="input-feild" placeholder="Email Id" required>
                    <input type="text" class="input-feild" placeholder="Enter Password" required>
                    <input type="text" class="input-feild" placeholder="Confirm Password" required>
                    <input type="checkbox" class="check-box"><span>Agree to Terms and Conditions</span>
                    <button type="submit" class="submit-btn">Register</button>
                </form>
            </div>
        </div>

        <!-- footer of page  -->
        <footer>

        </footer>

        <script src="C:\Users\Dell\Desktop\Projects\Question-Mark\Question_Mark\static\script.js"></script>
</body>

</html>