{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href={{ url_for('static', filename='style_profile.css') }}>
<link rel="stylesheet" href={{ url_for('static', filename='style_questions.css') }}>
<title>Profile</title>
{% endblock head %}
{% block content %}
    <div class="container white-container">
        <div class="profile-header">
            <div class="profile-img">
                <img src={{ url_for('static', filename='default.jpg') }} width: 200; alt="">
            </div>

            <div class="profile-nav-info">
                <h3 class="user-name">
                    {{ current_user.username }}
                </h3>
                <div class="address">
                    <p class="state">
                        {{ current_user.first_name }} {{ current_user.last_name }}
                    </p>
                </div>
            </div>
        </div>

        <div class="main-bd">
            <div class="left-side">
                <div class="profile-side">
                    <p class='user-mail'>{{ current_user.email }}</p>
                    <div class="userbio">
                        <h3>About User</h3>
                        <p> Some random information about the user like information.</p>
                    </div>
                    <div class="post-area">
                        <form method="POST" action="{{ url_for('profile') }}" class="input-group">
                            <textarea name="question" id="" cols="35" rows="5"></textarea>
                            <button class="post-button">Post Question</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="right-side">
                <div class="nav">
                    <div class="ul">
                        <p onclick="tabs(0)" class="user-question">Questions</p>
                        <p onclick="tabs(1)" class="user-answer">Answers</p>
                    </div>
                    <!-- <ul>
                        <li onclick="tabs(0)"
                        class="user-question">Questions</li>
                        <li onclick="tabs(1)"
                        class="user-answer">Answer</li>
                    </ul> -->
                </div>

                <div class="profile-body">
                    <div class="profile-question tab">
                        <h1>Your Questions</h1>
                        {% for item in quest %}
                        <article class="media content-section">
                            <img class="rounded-circle article-img" src="{{ url_for('static', filename='default.jpg') }}">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <table class="table table-striped">
                                    <tr>
                                    <td><a class="mr-2" href="#">{{ item.author.username }}</a></td>
                                    <td><small class="text-muted">{{ item.date_posted.strftime('%Y-%m-%d') }}</small></td>
                                    <td><form action="{{url_for('delete_ques', id=item.id)}}" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="submit" value="Delete" class="btn btn-danger"> 
                                    </form></td></tr></table>
                                </div>
                                <p class="article-content">{{ item.question }}</p>
                            </div>
                        </article>
                        {% endfor %}
                    </div>

                    <div class="profile-answer tab">
                        <h1>Your Answer</h1>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, labore, exercitationem voluptas
                        obcaecati debitis cupiditate tempore adipisci facilis corrupti vitae assumenda ab sit deserunt
                        tempora, ea harum recusandae vero optio quam reiciendis. Blanditiis odio inventore, praesentium
                        in assumenda sequi aperiam non quod voluptatem sapiente tenetur doloribus hic voluptatibus
                        pariatur excepturi voluptas eligendi voluptates illum eaque repellendus accusantium obcaecati.
                        Exercitationem, ratione.
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Optional JavaScript -->

<script src={{ url_for('static', filename = 'script.js') }}></script>
<script>
    const tabBtn = document.querySelectorAll('.nav .ul p');
    const tab = document.querySelectorAll('.tab');
    function tabs(panelIndex) {
        tab.forEach(function (node) {
            node.style.display = 'none';
        });
        tab[panelIndex].style.display = 'block';
    }
    tabs(0);
</script>
{% endblock content %}