.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 745px;

  }
/* .delete_button {

} */
.content-section-ex {
  background: #ffffff !important;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;

  }

.article-content {
    white-space: pre-line;
  }

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
.article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }

  #grad {
    /* height: 1000px; */
    background-color: #ffffff;
    background-image: linear-gradient(to bottom right, #3bb2b8, #42e695);
    background-attachment: fixed !important;
}